$strip-color: rgb(187, 239, 241);
$global-shadow-parameters: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

.blue-strip {
  // height: 160px;
  width: 100%;
  background-color: $strip-color;
  position: relative;

  z-index: -1;

  -webkit-box-shadow: inset $global-shadow-parameters;
  -moz-box-shadow: inset $global-shadow-parameters;
  box-shadow: inset $global-shadow-parameters;
}
