$global-shadow-parameters: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

$footer-height: 60px;
$footer-bg-color: rgb(54, 54, 54);
$footer-content-color: rgb(113, 113, 113);

.damned-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $footer-bg-color;
  height: $footer-height;
  color: $footer-content-color;
  text-align: center;
  -webkit-box-shadow: inset $global-shadow-parameters;
  -moz-box-shadow: inset $global-shadow-parameters;
  box-shadow: inset $global-shadow-parameters;

  span {
    position: relative;
    top: 20px;
  }
}
