$global-container-padding-lg: 140px;
$primary-text-color: rgb(39, 44, 48);

.navbar {
  height: 65px;
  // padding: 0 calc(#{$global-container-padding-lg} + 10px) 0
  //   calc(#{$global-container-padding-lg} + 10px) !important;

  .navbar-brand-image img {
    height: 60px;
  }

  .nav-item {
    font-size: 14px;
    color: $primary-text-color;
  }
}
