$primary-blue-dark: rgb(0, 174, 191);
$primary-text-color-light: rgb(170, 170, 170);

.intro-search-section {
  //position: relative;
  //top: -30px;
  margin-top: -230px;

  h1 {
    text-align: right;
    color: $primary-blue-dark;
  }

  p {
    margin-top: 5px;
    padding-right: 20px;
  }

  .search-bar {
    //min-width: 100%;
    height: 50px;
    background-color: rgb(215, 248, 250);

    padding: 0 5px 0 5px;

    border-bottom: solid 4px $primary-blue-dark;

    div {
      min-width: 100%;
    }

    button {
      background: $primary-blue-dark;
      border: none;
      color: white;
      padding: 5px 15px 5px 15px;
      width: 80px;
      margin-top: 5px;
    }

    input {
      //width: 100%;
      background: transparent;
      border: none;
      width: calc(100% - 80px);
      padding-right: 5px;
      margin-top: 2px;
    }
    input::placeholder {
      color: rgb(124, 184, 186);
    }
  }
}

.projects-list {
  position: relative;
  top: 55px;

  .project-card {
    min-height: 150px;
    min-width: 100%;
    background-color: white;

    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 20px;

    -webkit-box-shadow: 0px 3px 5px 1px rgba(122, 122, 122, 0.27);
    -moz-box-shadow: 0px 3px 5px 1px rgba(122, 122, 122, 0.27);
    box-shadow: 0px 3px 5px 1px rgba(122, 122, 122, 0.27);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    .project-info {
      padding-right: 0 !important;
      text-align: right;

      .project-title-link {
        color: black;
        text-decoration: none;
      }
    }

    .project-deadline {
      text-align: left;

      .badge-green {
        color: white;
        background-color: #3e8887;
      }
    }

    .project-budget {
      color: $primary-blue-dark;
      font-weight: bold;
    }

    .project-required-skills {
      text-align: right;
      direction: rtl;

      span:first-child {
        color: $primary-text-color-light;
        font-size: 12px;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    h6 {
      font-weight: bold;
    }

    p {
      font-size: 13px;
      margin-bottom: 4px;
    }

    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }

  .project-card:hover {
    -webkit-box-shadow: 0px 4px 5px 1px rgba(122, 122, 122, 0.37);
    -moz-box-shadow: 0px 4px 5px 1px rgba(122, 122, 122, 0.37);
    box-shadow: 0px 4px 5px 1px rgba(122, 122, 122, 0.37);

    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -ms-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }

  .user-search-bar {
    //margin-left: 20px;
    margin-bottom: 10px;

    min-width: 100%;
    min-height: 50px;
    background-color: rgb(249, 249, 249);
    border: solid white 3px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 2px 1px 1px rgba(122, 122, 122, 0.17);
    -moz-box-shadow: 0px 2px 1px 1px rgba(122, 122, 122, 0.17);
    box-shadow: 0px 2px 1px 1px rgba(122, 122, 122, 0.17);

    input {
      background: transparent;
      border: none;
      text-align: right;
      height: 100%;
      width: 100%;
      padding-right: 10px;
      margin-top: 5px;
    }
  }

  .user-card {
    //margin-left: 20px;
    margin-bottom: 10px;

    padding: 7px;

    min-width: 100%;
    min-height: 62px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0px 2px 3px 1px rgba(122, 122, 122, 0.27);
    -moz-box-shadow: 0px 2px 3px 1px rgba(122, 122, 122, 0.27);
    box-shadow: 0px 2px 3px 1px rgba(122, 122, 122, 0.27);

    background: white;
    .user-brief-title {
      color: black;
      text-decoration: none;
    }
    img {
      height: 54px;
      width: 54px;
      object-fit: cover;

      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
  }

  .user-name {
    font-size: 14px;
    //font-weight: bold;
    margin-top: 7px;
    margin-bottom: 3px;
    text-align: right;
  }

  .user-bio {
    font-size: 12px;
    margin-bottom: 3px;
    color: $primary-text-color-light;
    text-align: right;
  }
}

.pager {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  .page {
    min-width: 28px;
    line-height: 28px;
    margin: 5px;
    text-align: center;
    font-size: 16pt;
    color: black;
  }

  .item-per-page {
    background-color: white;

    // border: solid 2px rgb(40, 201, 217);
    border-radius: 5px;
    padding: 5px 0 5px 8px;
    margin-right: 30%;
    width: 20%;

    input {
      border: none;
      width: 25%;
    }
    input.btn {
      margin-right: 15px;
      background-color: rgb(40, 201, 217);
      width: 50%;
    }
  }
}
