#slideshow {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.slide-wrapper {
  width: 100%;
}

.slide {
  //float: left;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;


  -webkit-animation: slide ease-in-out infinite 8s;
  -o-animation: slide ease-in-out infinite 8s;
  animation: slide ease-in-out infinite 8s;

}

.slide:nth-child(1) {
  z-index: -6;
  background-image: url('../assets/images/login-bg/1.jpeg');
  animation-delay: 8s;
}

.slide:nth-child(2) {
  z-index: -1;
  background-image: url('../assets/images/login-bg/2.jpg');
  animation-delay: 6s;
}

.slide:nth-child(3) {
  z-index: -2;
  background-image: url('../assets/images/login-bg/3.jpg');
  animation-delay: 4s;
}

.slide:nth-child(4) {
  z-index: -3;
  background-image: url('../assets/images/login-bg/4.jpg');
  animation-delay: 2s;
}

.slide:nth-child(5) {
  z-index: -4;
  background-image: url('../assets/images/login-bg/5.jpeg');
  animation-delay: 0s;
}


@keyframes slide {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.login-signup-container {
  padding: 20px 0 20px 0;
  background-color: azure;
  position: absolute;
  top: 150px;
  right: 10%;
  z-index: 100;
  border-radius: 10px;
  min-width: 80%;

  .login-container {
    text-align: center;
  }

  .signup-container {
    text-align: center;
  }

  .divider {
    width: 1px;
    margin-top: 10%;
    min-height: 80%;
    background: #8d8d8d;
    position: relative;
    left: 50%;
  }


  .theSubmitButtons {
    width: 50px !important;
  }
}

@media screen and (max-width: 480px) {
  .login-signup-container {
    min-width: 90%;
    right: 8%;
  }
}

@media screen and (max-width: 990px) {
  .login-signup-container .divider {
    display: none;
  }
}
