$global-shadow-parameters: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
$strip-color: rgb(187, 239, 241);

.project-bid-container {
  box-shadow: $global-shadow-parameters;
  -moz-box-shadow: $global-shadow-parameters;
  -webkit-box-shadow: $global-shadow-parameters;

  position: relative;
  z-index: 50;

  margin-top: -50px;

  .project-info {
    padding: 20px 20px 20px 20px;
    text-align: right;

    h1 {
      margin-bottom: 15px;
    }

    .project-quick-info {
      list-style-type: none;
      direction: rtl;
      text-align: right;
      margin-right: 0;
      padding-right: 0;
      font-size: 15px;
      position: relative;

      li {
        margin-bottom: 6px;
      }

      li i {
        position: relative;
        top: 1px;
      }

      li span {
        font-weight: bold;
      }

      .bid-remaining-time {
        color: rgb(103, 103, 103);
      }

      .project-budget {
        color: rgb(0, 133, 140);
      }
    }

    .project-image-container {
      width: 200px;
      height: 200px;
      padding: 10px;
      border: solid 2px rgb(242, 241, 242);
      margin-left: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    border-bottom: dashed 3px $strip-color;
  }

  .project-skills {
    padding: 20px 20px 20px 40px;

    background-color: rgb(249, 249, 249);
    border-bottom: solid 2px rgb(227, 227, 227);

    h6 {
      direction: rtl;
      text-align: right;
      color: rgb(0, 133, 141);
      font-weight: bold;
    }
  }

  .project-bid {
    padding: 20px 20px 20px 20px;

    .input-group {
      background-color: white;

      .bid-input-container {
        border: solid 2px rgb(40, 201, 217);
        border-radius: 5px;
        padding: 5px 0 5px 8px;

        input {
          border: none;
          width: 80%;
        }

        input:focus {
          outline: none;
        }

        span {
          color: rgb(0, 156, 168);
        }
      }

      #send {
        margin-right: 10px;
        background-color: rgb(0, 174, 191);
        border-color: rgb(0, 174, 191);
        color: white;
      }
    }
  }
}
