.user-skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .user-skill {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: #ffffff;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    .skill {
      margin: 0 10px 0 10px;
      line-height: 28px;
    }

    .endorsed {
      min-width: 28px;
      line-height: 28px;
      margin: 5px;
      text-align: center;
      background: #b7f0f1;
      border-radius: 3px;
      color: #117070;
      position: relative;
    }

    .endorsed span {
      position: relative;
      top: 2px;
      right: 1px;
    }

    .zero-endorsed {
      min-width: 28px;
      line-height: 28px;
      margin: 5px;
      text-align: center;
      background: #f00021;
      border-radius: 3px;
      color: #ffffff;
    }

    .zero-endorsed span {
      position: relative;
      top: 2px;
      right: 1px;
    }

    .for-endorse {
      min-width: 28px;
      line-height: 28px;
      margin: 5px;
      text-align: center;
      background: #00c729;

      border-radius: 3px;
      color: #ffffff;
    }

    .for-endorse span {
      background: transparent;
      border: transparent;
      position: relative;
      top: 2px;
      color: white;
      cursor: pointer;
    }
  }
}