$user-profile-image-size: 200px;

$the-negative-margin-size: -90px;
$user-prorile-image-border-size: 20px;

$primary-text-color-light: rgb(170, 170, 170);

$the-trapezius-right-position: $user-profile-image-size - 12px;
$the-trapezius-height: 32px;
$the-trapezius-width: 120px;

$global-shadow-parameters: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

.user-profile-main-container {
  //width: 100%;
  //min-height: 100%;
  //margin-bottom: -50px;
  margin: $the-negative-margin-size 0 0 0;

  .user-description {
    direction: rtl;
    text-align: justify;
    margin-top: 20px;
    line-height: 1.7em;
  }

  .user-image-n-title {
    position: relative;

    .user-title-container {
      direction: rtl;
      text-align: right;
      padding-right: 0;

      position: absolute;
      bottom: 0;
      right: calc(#{$user-profile-image-size} + 20px);

      h4 {
        color: $primary-text-color-light;
        font-weight: normal;
      }
    }

    .user-image-container {
      padding-right: 0;
      text-align: right;

      .user-profile-image {
        height: $user-profile-image-size;
        width: $user-profile-image-size;
        object-fit: cover;
        border: solid 12px rgba(249, 249, 249, 1);
        border-radius: $user-prorile-image-border-size;

        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 75;
      }
    }
  }

  .the-trapezius-shape {
    border-left: 25px solid transparent;
    //border-right: 25px solid transparent;
    height: 0;
    bottom: calc(#{$the-negative-margin-size} + #{$user-profile-image-size});
    width: $the-trapezius-width;
    position: absolute;
  }

  .the-trapezius-1 {
    border-bottom: $the-trapezius-height solid rgb(111, 201, 205);
    right: $the-trapezius-right-position;
    z-index: 100;
    opacity: 0.5;
  }

  .the-trapezius-2 {
    border-bottom: $the-trapezius-height solid rgb(130, 218, 222);
    right: calc(#{$the-trapezius-right-position} + 12px);
    z-index: 50;
  }

  .skill-picker {
    //min-width: 100%;
    display: flex;
    align-items: center;
    .skill-picker-label {
      font-size: 22px;
      font-weight: bold;
      label {
        margin: 0 0 0 10px;
      }
    }
    .input-group {
      border-radius: 5px;
      margin: 20px 0 20px 0;
      -webkit-box-shadow: $global-shadow-parameters;
      -moz-box-shadow: $global-shadow-parameters;
      box-shadow: $global-shadow-parameters;

      background-color: #ffffff;
      padding: 5px;
      width: 35%;
      input {
        margin-right: 5px;
        background: #0d99a3;
      }
      select {
        background: #f9f9f9;
      }
    }
  }
}
